.header{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    align-items: center;
    background: #fff4be;
    overflow: hidden;
}
.header-info h1  {
    font-size: 3.5rem;
    line-height: 3.4rem;
}
