.navbar{
    position: fixed;
    display:grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    top:0;
    background: #fffae090;
    backdrop-filter: blur(10px);
    z-index: 100;
}
.search-bar{
    display: flex;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 10px;
}
.search-bar input{
    font-size: medium;
    font-style: italic;
}
.nav-user{
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer{
    background: rgb(22, 24, 36);
    color: rgb(187, 187, 187);
}
.footer h1{
    color: #fff;
}
.footer a:hover{
    color: #ffa600;
}
.divider{
    height: 1px;
    width: full;
    background: rgba(128, 128, 128, 0.4);
    margin: 10px auto;
}
.cart-icon{
    position: relative;
}
.cart-icon span{
    position:absolute;
    top: -10px;
    right: 0;
    font-size: small;
    background: rgb(3, 87, 28);
    padding: 3px 8px;
    color: #fff;
    font-weight: 800;
    border-radius: 15px;
}