.navbar{
    display:grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;

}
.search-bar{
    display: flex;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 10px;
}
.search-bar input{
    font-size: medium;
    font-style: italic;
}
.nav-user{
    display: flex;
    justify-content: end;
    align-items: center;
}