.navbar{
    position: fixed;
    display:grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    top:0;
    background: #fffae090;
    backdrop-filter: blur(10px);
    z-index: 100;
}
.search-bar{
    display: flex;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 10px;
}
.search-bar input{
    font-size: medium;
    font-style: italic;
}
.nav-user{
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer{
    background: rgb(22, 24, 36);
    color: rgb(187, 187, 187);
}
.footer h1{
    color: #fff;
}
.footer a:hover{
    color: #ffa600;
}
.divider{
    height: 1px;
    width: full;
    background: rgb(49, 52, 71);
    margin: 10px auto;
}